<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/css/styles.css" />

</head>
<body>
    <canvas class="my-4 w-100" id="myChart" width="900" height="300"></canvas>
    <div>
        <form action="/{{ date }}{{ device }}" class="col-lg-6 offset-lg-3">
            <div class="row justify-content-center">
                <label for="date">Выбор даты и счетчика</label>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col">
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                <div class="col">
                    <select name="device" id="device" class="form-select">
                        <option value="1">Счетчик 1</option>
                        <option value="2">Счетчик 2</option>
                        <option value="3">Счетчик 3</option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <input type="submit" class="btn btn-primary" value="Показать">
            </div>
        </form>
    </div>

    <div  class="table-responsive small">
        <script>
            const dates = [];
            const power1 = [];
            const power2 = [];
            const power3 = [];
            const voltage1 = [];
            const voltage2 = [];
            const voltage3 = [];
            const current1 = [];
            const current2 = [];
            const current3 = [];
        </script>
        <table class="table table-striped table-sm">
            <thead>
            <TR>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(0);"><b>Мощность 1</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(1);"><b>Мощность 2</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(2);"><b>Мощность 3</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(3);"><b>Напряжение 1</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(4);"><b>Напряжение 2</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(5);"><b>Напряжение 3</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(6);"><b>Ток 1</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(7);"><b>Ток 2</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_visability(8);"><b>Ток 3</b></button></TD>
                <TD scope="col" class="text-center"><button class="btn" onclick="data_show();"><b>Дата</b></button></TD>
            </TR>
            </thead>
            <tbody>
            {% for r in resp %}
            <TR>
                <TD class="text-center">{{r.power1}}</TD>
                <TD class="text-center">{{r.power2}}</TD>
                <TD class="text-center">{{r.power3}}</TD>
                <TD class="text-center">{{r.voltage1}}</TD>
                <TD class="text-center">{{r.voltage2}}</TD>
                <TD class="text-center">{{r.voltage3}}</TD>
                <TD class="text-center">{{r.current1}}</TD>
                <TD class="text-center">{{r.current2}}</TD>
                <TD class="text-center">{{r.current3}}</TD>
                <TD class="text-center">{{r.date|safe}}</TD>
                <script>
                    st = "{{ r.date|safe }}"
                    dates.push(st.slice(11));
                    if ({{ r.power1 }} > 0) {power1.push({{ r.power1 }});} else {power1.push(Number.NuN);}
                    if ({{ r.power2 }} > 0) {power2.push({{ r.power2 }});} else {power2.push(Number.NuN);}
                    if ({{ r.power3 }} > 0) {power3.push({{ r.power3 }});} else {power3.push(Number.NuN);}
                    if ({{ r.voltage1 }} > 0) {voltage1.push({{ r.voltage1 }});} else {voltage1.push(Number.NuN);}
                    if ({{ r.voltage2 }} > 0) {voltage2.push({{ r.voltage2 }});} else {voltage2.push(Number.NuN);}
                    if ({{ r.voltage3 }} > 0) {voltage3.push({{ r.voltage3 }});} else {voltage3.push(Number.NuN);}
                    if ({{ r.current1 }} > 0) {current1.push({{ r.current1 }});} else {current1.push(Number.NuN);}
                    if ({{ r.current2 }} > 0) {current2.push({{ r.current2 }});} else {current2.push(Number.NuN);}
                    if ({{ r.current3 }} > 0) {current3.push({{ r.current3 }});} else {current3.push(Number.NuN);}
                </script>
            </TR>
            {% endfor %}
            <tbody/>
        </table>
    </div>

<!--    if (new Date().parse("{{ choosen_date }}".slice(0, 11) == null) {-->
<!--        document.getElementById('date').valueAsDate = new Date();-->
<!--    } else {-->
<!--        document.getElementById('date').valueAsDate = new Date().parse("{{ choosen_date }}".slice(0, 11))-->
<!--    }-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    if ("{{ choosen_date }}" == "None") {
        document.getElementById('date').valueAsDate = new Date();
    } else {
        document.getElementById('date').value = "{{ choosen_date }}";
    }
    document.getElementById('device').value = {{ dev }};
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: "Мощность 1",
                data: power1,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Мощность 2",
                data: power2,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Мощность 3",
                data: power3,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Напряжение 1",
                data: voltage1,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Напряжение 2",
                data: voltage2,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Напряжение 3",
                data: voltage3,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Ток 1",
                data: current1,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Ток 2",
                data: current2,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            },
            {
                label: "Ток 3",
                data: current3,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff',
                hidden: false,
            }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
      function data_visability(n) {myChart.data.datasets[0].hidden = true;myChart.data.datasets[1].hidden = true;myChart.data.datasets[2].hidden = true;
      myChart.data.datasets[3].hidden = true;myChart.data.datasets[4].hidden = true;myChart.data.datasets[5].hidden = true;
      myChart.data.datasets[6].hidden = true;myChart.data.datasets[7].hidden = true;myChart.data.datasets[8].hidden = true;
      myChart.data.datasets[n].hidden = false;myChart.update();}

      function data_show() {myChart.data.datasets[0].hidden = false;myChart.data.datasets[1].hidden = false;myChart.data.datasets[2].hidden = false;
      myChart.data.datasets[3].hidden = false;myChart.data.datasets[4].hidden = false;myChart.data.datasets[5].hidden = false;
      myChart.data.datasets[6].hidden = false;myChart.data.datasets[7].hidden = false;myChart.data.datasets[8].hidden = false;myChart.update();}
    </script>


<!--      function data_visability(n) {console.log(myChart.data.datasets[3].hidden = true);myChart.update();}-->
</body>
</html>