<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/css/styles.css" />

</head>
<body>
    <canvas class="my-4 w-100" id="myChart" width="900" height="300"></canvas>
    <div>
        <form action="/{{ date }}{{ device }}" class="col-lg-6 offset-lg-3">
            <div class="row justify-content-center">
                <label for="date">Фильтр по дате и выбор счетчика</label>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col">
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                <div class="col">
                    <select name="device" id="device" class="form-select">
                        <option value="1">Счетчик 1</option>
                        <option value="2">Счетчик 2</option>
                        <option value="3">Счетчик 3</option>
                    </select>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>

    <div  class="table-responsive small">
        <script>
            const dates = [];
            const volts = [];
        </script>
        <table class="table table-striped table-sm">
            <thead>
            <TR>
                <TD scope="col"><b>power1</b></TD>
                <TD scope="col"><b>power2</b></TD>
                <TD scope="col"><b>power3</b></TD>
                <TD scope="col"><b>voltage1</b></TD>
                <TD scope="col"><b>voltage2</b></TD>
                <TD scope="col"><b>voltage3</b></TD>
                <TD scope="col"><b>current1</b></TD>
                <TD scope="col"><b>current2</b></TD>
                <TD scope="col"><b>current3</b></TD>
                <TD scope="col"><b>date</b></TD>
            </TR>
            </thead>
            <tbody>
            {% for r in resp %}
            <TR>
                <TD>{{r.power1}}</TD>
                <TD>{{r.power2}}</TD>
                <TD>{{r.power3}}</TD>
                <TD>{{ r.voltage1 }}</TD>
                <TD>{{r.voltage2}}</TD>
                <TD>{{r.voltage3}}</TD>
                <TD>{{r.current1}}</TD>
                <TD>{{r.current2}}</TD>
                <TD>{{r.current3}}</TD>
                <TD>{{ r.date|safe }}</TD>
                <script>
                    st = "{{ r.date|safe }}"
                    dates.push(st.slice(11));
                    if ({{ r.voltage1 }} > 0) {
                        volts.push({{ r.voltage1 }});
                    } else {
                        volts.push(Number.NuN);
                    }
                </script>
            </TR>
            {% endfor %}
            <tbody/>
        </table>
    </div>

<!--    if (new Date().parse("{{ choosen_date }}".slice(0, 11) == null) {-->
<!--        document.getElementById('date').valueAsDate = new Date();-->
<!--    } else {-->
<!--        document.getElementById('date').valueAsDate = new Date().parse("{{ choosen_date }}".slice(0, 11))-->
<!--    }-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    document.getElementById('date').value = "{{ choosen_date }}";
    document.getElementById('device').value = {{ dev }};
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                data: volts,
                lineTension: 0,
                backgroundColor: "rgba(110,110,220,0.5)",
                borderColor: '#007bff',
                borderWidth: 2,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>

</body>
</html>